<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>CSV Table</h1>
    
    <form action="/download" method="post">
        <input type="hidden" name="jsonFileName" value="<%= outputFileName %>" />
        <input type="submit" value="Download JSON File" />
    </form>


</body>
</html>